# Copyright (c) Pipin Fitriadi. All rights reserved.
# Licensed under the MIT License. See LICENSE in the project root for license information.

__pycache__/

.coverage*
node_modules/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
*.pot
*.pyc
/staticfiles/
*.py~

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind CSS
dist/
src/styles.css

.env
